@model Etudiant
<h1>Creation d'un nouvel etudiant</h1>

<form asp-action="Add" asp-controller="Etudiant"Add method="post">
@* ceci est un commentaire *@

    <div class="="form-group">
        <label asp-for="Id"></label> <input asp-for="Id">
    </div>
    
    <div class="="form-group">
        <label asp-for="Nom"></label> <input asp-for="Nom">
    </div>
    
    <div class="="form-group">
        <label asp-for="Age"></label> <input asp-for="Age">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </div>
</form>
