@model IEnumerable<Etudiant>

<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
    </tr>
    @foreach (var etudiant in Model)
    {
        <tr>
            <td>@etudiant.Id</td>
            <td>@etudiant.Nom</td>
            <td>@etudiant.Prenom</td>
        </tr>
    }
</table>